html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.pagination {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        position: fixed; /* stay in place */
        height: 100vh; /* full height */
        width: 250px; /* sidebar width */
        z-index: 1050; /* above content */
        transform: translateX(-100%); /* hide by default */
        transition: transform 0.3s ease; /* smooth slide */
    }

        #sidebar-wrapper.active {
            transform: translateX(0); /* slide in */
        }



}
